#texteditor{
    width: 100vw;
    height: 100vh;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
}
.Absolute-Center {
    left: 50%;
    transform: translateX(-50%);
}

body{
    overflow: hidden;
}

.bottom-center{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}